
@{
    ViewBag.Title = "GuestPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plans</h2>

<body>
    <p>Take a look at our services. Register for more information..</p>
    <div class="row">
        <div class="col-sm-6">
            <br>
            <h2>PickUp Plans</h2>
            <p>We will pick up once a week. Going on vacation? No problem, just let us know when you will be back and we will start back up like you never left.</p>
        </div>
        <div class="col-sm-6">
            <br>
            <h2>Pricing Plans</h2>
            <p> Please register to view pricing plans.</p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <p>First, please register as a customer...</p>
            <button type="button">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>
        </div>
    </div>
    @*<div class="row">
            <div class="col-sm-6">
                <p>Click here to get started!</p>
                <button type="button">@Html.ActionLink("Subscribe Now", "Create", "Addresses", routeValues: null, htmlAttributes: new { id = "subscribeLink" })</button>
            </div>
        </div>*@
</body>
