
@{
    ViewBag.Title = "GuestPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plans</h2>

<body>
    <p>Take a look at our services. Register for more information..</p>
    <div>
        <div class="row">
            <div class="col-md-6">
                <br />
                <h2>Weekly Pick Up</h2>
                <p>
                    We will pick up your trash once a week.
                    You set the start and we will be there on that day and every 7 days after that.
                </p>
                <img class="alignright wp-image-80 size-30px" src="~/Content/automated-trash-pickup.jpg" alt="STC garbage truck" style="width:340px; height:240px">
            </div>
            <div class="col-md-6">
                <br />
                <h2>Prices</h2>
                <br />
                <ol>Monthly Rate  --  $40</ol>
                <ol>Quarterly Rate  --  $140 You save 10%</ol>
                <ol>Yearly Rate  --  $430 You save 20%</ol>
            </div>
        </div>       
    </div>
    <div>
        <div class="row">

            <div class="col-md-6">
                <br />
                <h2>Extra Pick Up</h2>
                <p>
                    Make a lot of garbage this week?  Add a second pickup for a small additional fee.
                    Add an extra pickup for just $10.00
                    <br />
                </p>
                <img class="alignright wp-image-80 size-30px" src="~/Content/calendar1.jpg" alt="date circled on calendar" style="width:260px; height:260px">
            </div>
            <div class="col-md-6">
                <br />
                <h2>Suspend Pick Up</h2>
                <p>
                    Not going to be home for a few weeks.  You can suspend your service and restart on a later date.
                    <br />
                    <br />
                </p>
                <img class="alignright wp-image-80 size-30px" src="~/Content/VacationCalendar-740x490.jpg" alt="vacation written on calendar" style="width:240px; height:240px">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <br>
            <h2>PickUp Plans</h2>
            <p>Need pick up once a week. No problem. Need an extra pickup? No problem.  Going on vacation? No problem. Just let us know when you will be back and we will start back up like you never left.</p>
        </div>
        <div class="col-sm-6">
            <br>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <p>First, please register as a customer...</p>
            <button type="button">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>
        </div>
    </div>
    <br />
    @*<div class="row">
            <div class="col-sm-6">
                <p>Click here to get started!</p>
                <button type="button">@Html.ActionLink("Subscribe Now", "Create", "Addresses", routeValues: null, htmlAttributes: new { id = "subscribeLink" })</button>
            </div>
        </div>*@
</body>
