@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1 align="center"><strong>Stallis Trash Collective</strong></h1>


</div>
<div>
    <div class="row">
        <h3><center>Municipal trash collection has remained largely unchanged for decades. <br>It's time to disrupt the status quo.<br></center></h3>
        <h4 align="center">STC is a flexible, online garbage pickup manager that works with your schedule</h4>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Plans & Pricing
        </p>
        <p><a class="btn btn-default" href="../Home/GuestPlan">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Welcome Back</h2>
        <p>Need to change your pickup date or put it on hold?  You can do that here.</p>
        <p><a class="btn btn-default" href="../Services/GetDetails">Change Pickup &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trash Humor</h2>
        <p>It does exsist..</p>
        <p><a class="btn btn-default" href="~/Content/smellsomething.jpg">Click to Laugh &raquo;</a></p>
    </div>
</div>