
@{
    ViewBag.Title = "Plans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plans</h2>

<body>

    <div class="row">
        <div class="col-sm-6">
            <br>
            <h2>PickUp Plans</h2>
        </div>
        <div class="col-sm-6">
            <br>
            <h2>Pricing Plans</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <p>First, please register as a customer...</p>
            <button type="button">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Click here to get started!</p>
                <button type="button">@Html.ActionLink("Subscribe Now", "Create", "Addresses", routeValues: null, htmlAttributes: new { id = "subscribeLink" })</button>
            </div>
        </div>
</body>