
@{
    ViewBag.Title = "Plans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plans</h2>

<body>
    <p>
test
        
    </p>
    <button type="button">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>
    <button type="button">@Html.ActionLink("Subscribe Now", "Create", "Services", routeValues: null, htmlAttributes: new { id = "subscribeLink" })</button>


</body>