
@{
    ViewBag.Title = "Plans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plans</h2>

<body>


    <div class="row">
        <div class="col-sm-6">
            <br>
            <h2>PickUp Plans</h2>
        </div>
        <div class="col-sm-6">
            <br>
            <h2>Pricing Plans</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <p>Click here if you want to registrer..</p>
            <button type="button">Register...</button>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Click here if you are a returning customer</p>
                <button type="button">Returning Customer...</button>
            </div>
        </div>
</body>