
@{
    ViewBag.Title = "Plans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plans</h2>

<body>
<<<<<<< HEAD
=======
    <p>
test
        
    </p>
    <button type="button">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>
    <button type="button">@Html.ActionLink("Subscribe Now", "Create", "Services", routeValues: null, htmlAttributes: new { id = "subscribeLink" })</button>
>>>>>>> b83c135fe59cdf535b3c94c307dcaf232f6159d1


    <div class="row">
        <div class="col-sm-6">
            <br>
            <h2>PickUp Plans</h2>
        </div>
        <div class="col-sm-6">
            <br>
            <h2>Pricing Plans</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <p>Click here if you want to registrer..</p>
            <button type="button">Register...</button>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Click here if you are a returning customer</p>
                <button type="button">Returning Customer...</button>
            </div>
        </div>
</body>