
@{
    ViewBag.Title = "Plans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plans</h2>

<body>
    <p>
test
        
    </p>
    <button type="button">Click Me!</button>
    <button type="button">No, Click Me!</button>


</body>