
@{
    ViewBag.Title = "Plans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plans</h2>

<body>
    <br />

    <p>Thank you for registering. Take a look at our services and click "Subscribe Now" when you are ready to take the plunge.</p>
    <div class="row">
        <div class="col-sm-6">
            <br>
            <h2>PickUp Plans</h2>
            <p>We will pick up once a week. Going on vacation? No problem, just let us know when you will be back and we will start back up like you never left.</p>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Click here to get started!</p>
                <button type="button">@Html.ActionLink("Subscribe Now", "Create", "Addresses", routeValues: null, htmlAttributes: new { id = "subscribeLink" })</button>
            </div>
        </div>
</body>