
@{
    ViewBag.Title = "Plans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plans</h2>

<body>
    <p>
test
        
    </p>
    <button type="button">Register</button>
    <button type="button">Returning Customer</button>


</body>